@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Số dư
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Account.Balance vnđ</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Transaction.Count Lần</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <select id="comboboxSort">
            <option value="-1">Tất cả</option>
            <option value="1">Nạp tiền</option>
            <option value="2">Rút tiền</option>
        </select>
    </div>
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lịch Sử Giao Dịch</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Số Tiền Giao Dịch</th>
                                    <th>Loại Giao Dịch</th>
                                    <th>Ngày Giao Dịch</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in ViewBag.Transaction)
                                {
                                    <tr>
                                        <td>@i.TransMoney</td>
                                        @if (i.TransType == 1)
                                        {
                                            <td>Nạp Tiền</td>
                                        }else if(i.TransType == 2)
                                        {
                                            <td>Rút Tiền</td>
                                        }
                                        <td>@i.DateOfTrans.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                }
                                                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/jquery-3.7.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('#comboboxSort').change(function () {
            var transType = $('#comboboxSort').val();
            $.ajax({
                type: 'GET',
                url: '/home/sort',
                data: {
                    transType: transType
                },
                success: function (trans) {
                    s = '';
                    for (var i = 0; i < trans.length; i++) {
                        s += '<tr>'
                        s += '<td>' + trans[i].transmoney + '</td>';
                        if (trans[i].transtype == 1) {
                            s += '<td>Nạp Tiền</td>';
                        } else if (trans[i].transtype == 2) {
                            s += '<td>Rút Tiền</td>';
                        }
                        s += '<td>' + trans[i].dateoftrans + '</td>';
                        s += '</tr>'
                    }
                    $('#dataTable tbody').html(s);
                }
            });
        });
    });
</script>

